.about {
  width: 320px;
  background-color: #ffffff;
  padding: 32px 21px 16px 17px;
  box-sizing: border-box;
}

.about__inner {}

.about__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.about__text {
  text-transform: uppercase;
  color: #333333;
}
