.advatage {
  width: 320px;
}

.advatage__inner {
  background-color: #81B3D2;
  box-sizing: border-box;
  padding: 54px 22px 40px 16px;

  &--reverse {
    padding: 39px 16px 35px 15px;
  }
}

.advatage__title {
  .font-bold();
  margin: 0;
  color: #ffffff;
  margin-bottom: 11px;
}

.advatage__text {
  text-transform: uppercase;
  color: #ffffff;
  &--number {
    margin-bottom: 17px;
  }
}
