.advatage {
  width: 320px;
}

.advatage__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
  padding: 54px 22px 40px 16px;

  &--reverse {
    padding: 39px 16px 35px 15px;
  }
}

.advatage__title {
  .font-bold();
  margin: 0;
  color: #ffffff;
  margin-bottom: 11px;
}

.advatage__text {
  text-transform: uppercase;
  color: #ffffff;

  &--number {
    margin-bottom: 17px;
  }
}

.advatage__image {
  display: block;
}
