.dignity {
  width: 320px;
}

.dignity__inner {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 23px 21px 52px 17px;

}

.dignity__item {
  position: relative;
  padding-left: 47px;
  box-sizing: border-box;
}

.dignity__icon {
  position: absolute;
  left: 0;
  top: 0;
}

.dignity__title {
  .font-bold();
  margin: 0;
  margin-bottom: 16px;
}

.dignity__text {
  text-transform: uppercase;
  color: #333333;
}
