.essay {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
  padding: 24px 20px 24px;
}

.essay__title {
  .font-bold();
  margin-bottom: 20px;
}

.essay__area {
  padding: 16px;
  .font-bold();
  text-transform: none;
  margin-bottom: 56px;
  border: none;
  background-color: #f2f2f2;
}

.essay__button {
  width: 281px;
  height: 58px;
}

.essay__text {
  align-self: flex-end;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  text-transform: uppercase;
}
