.main-nav {
  background-color: #ffffff;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  border: none;
  padding: 0;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.site-list__item {
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    box-shadow: none;
  }

  &:nth-child(2) {
    @media (min-width: @tablet-width) {
      margin-right: 153px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 240px;
    }
  }
}

.site-list__link {
  .font-bold();
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 20px 12px 20px;


  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    width: 153px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 240px;
  }

  &--current {
  @media (min-width: @tablet-width) {
      color: #766357;
    }
  }
}
