.visually-hidden {

  .visually-hidden();
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  box-sizing: border-box;
  .font-bold ();
  font-size: 21px;
}

@tablet-width: 768px;
@desktop-width: 1200px;
