@import "./components/fonts.less";
@import "./components/mixin.less";
@import "./blocks/main-header.less";
@import "./blocks/main-nav.less";
@import "./blocks/greetings.less";
@import "./blocks/about.less";
@import "./blocks/advatage.less";

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
}

.visually-hidden {

  .visually-hidden()
}
